<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="MongoUrl" value="mongodb://mac.localhost" />
  <add key="EventStoreIp" value="127.0.0.1"/>
  <add key="EventStoreTcpPort" value="1113"/>
  <add key="EventStoreUserName" value="admin"/>
  <add key="EventStorePassword" value="changeit"/>
  <add key="UseEventStore" value="false"/>
  <add key="RedisIp" value="logging-pp.otenv.com"/>
  <add key="RedisPort" value="6379"/>
  <add key="RedisMaxRetries" value="3"/>
</appSettings>