obj
bin
deploy
*.csproj.user
*.suo
*ReSharper*
*.orig
*.csv
*.dotCover
output
*.TeamCitySharp.sln.metaproj*
*.DotSettings.*
*StyleCop.Cache
*debug.css
logs/
*ncrunch*
.DS_Store
.svn
node_modules/
buildOutput/
*.userprefs
UnitTestsResult.xml
