obj
bin
deploy
*.csproj.user
*.suo
*ReSharper*
*.orig
*.csv
*.dotCover
output
*.TeamCitySharp.sln.metaproj*
*.DotSettings.*
*StyleCop.Cache
*debug.css
logs/
*ncrunch*
.DS_Store
.svn
/Api/opentablejapan-ja_jp20130215070010.xml
/Api/*.gz
/Api/*.gz
/Api/*.gz
/Api/*.gz
/Api/*.gz
/Api/*.gz
/Api/*.gz
