<appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />

    <add key="Environment" value="production" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="MongoUrl" value="mongodb://54.247.71.149,54.247.71.253,50.18.119.193/reviews?replicaSet=ReviewReplicaSet;connectTimeoutMS=300000;safe=true;readPreference=secondary;maxIdleTimeMS=30000;maxLifeTimeMS=60000" />
    
    <add key="RedisIp" value="logging-ln.otenv.com"/>
    <add key="RedisPort" value="6379"/>
    <add key="RedisRetryTime" value="3"/>
</appSettings>