<appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    
    <add key="Environment" value="CI" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="MongoUrl" value="mongodb://ci-sf-badgers-mongo-01.qasql.opentable.com" />
    
    <add key="RedisIp" value="logging-pp.otenv.com"/>
    <add key="RedisPort" value="6379"/>
    <add key="RedisRetryTime" value="3"/>
</appSettings>